<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cgwx.dao.UrmUserRequirementMapper" >
  <resultMap id="BaseResultMap" type="com.cgwx.data.entity.UrmUserRequirement" >
    <result column="requirement_id" property="requirementId" jdbcType="VARCHAR" />
    <result column="is_sensitive" property="isSensitive" jdbcType="INTEGER" />
    <result column="requirement_name" property="requirementName" jdbcType="VARCHAR" />
    <result column="requirement_status" property="requirementStatus" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="requirement_type" property="requirementType" jdbcType="INTEGER" />
    <result column="image_geometry" property="imageGeometry" jdbcType="OTHER" />
    <result column="imaging_frequency_request" property="imagingFrequencyRequest" jdbcType="INTEGER" />
    <result column="imaging_times" property="imagingTimes" jdbcType="INTEGER" />
    <result column="imaging_internal" property="imagingInternal" jdbcType="INTEGER" />
    <result column="submitter_id" property="submitterId" jdbcType="INTEGER" />
    <result column="requirement_start_time" property="requirementStartTime" jdbcType="TIMESTAMP" />
    <result column="requirement_end_time" property="requirementEndTime" jdbcType="TIMESTAMP" />
    <result column="image_mode" property="imageMode" jdbcType="INTEGER" />
    <result column="image_duration" property="imageDuration" jdbcType="INTEGER" />
    <result column="is_multi_grid" property="isMultiGrid" jdbcType="INTEGER" />
    <result column="requirement_user" property="requirementUser" jdbcType="VARCHAR" />
    <result column="cloud_percent" property="cloudPercent" jdbcType="NUMERIC" />
    <result column="resolution" property="resolution" jdbcType="NUMERIC" />
    <result column="roll_satellite_angle" property="rollSatelliteAngle" jdbcType="NUMERIC" />
    <result column="delivery_method" property="deliveryMethod" jdbcType="INTEGER" />
    <result column="delivery_time" property="deliveryTime" jdbcType="TIMESTAMP" />
    <result column="data_format" property="dataFormat" jdbcType="INTEGER" />
    <result column="data_level" property="dataLevel" jdbcType="INTEGER" />
    <result column="spectral_requirement" property="spectralRequirement" jdbcType="INTEGER" />
    <result column="geometry_requirement" property="geometryRequirement" jdbcType="INTEGER" />
    <result column="radiation_requirement" property="radiationRequirement" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.cgwx.data.entity.UrmUserRequirement" >
    insert into urm_user_requirement (requirement_id, is_sensitive, requirement_name, 
      requirement_status, priority, requirement_type, 
      image_geometry, imaging_frequency_request, imaging_times, 
      imaging_internal, submitter_id, requirement_start_time, 
      requirement_end_time, image_mode, image_duration, 
      is_multi_grid, requirement_user, cloud_percent, 
      resolution, roll_satellite_angle, delivery_method, 
      delivery_time, data_format, data_level, 
      spectral_requirement, geometry_requirement, 
      radiation_requirement)
    values (#{requirementId,jdbcType=VARCHAR}, #{isSensitive,jdbcType=INTEGER}, #{requirementName,jdbcType=VARCHAR}, 
      #{requirementStatus,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, #{requirementType,jdbcType=INTEGER}, 
      st_geomfromgeojson(#{imageGeometry,jdbcType=OTHER}), #{imagingFrequencyRequest,jdbcType=INTEGER}, #{imagingTimes,jdbcType=INTEGER},
      #{imagingInternal,jdbcType=INTEGER}, #{submitterId,jdbcType=INTEGER}, #{requirementStartTime,jdbcType=TIMESTAMP},
      #{requirementEndTime,jdbcType=TIMESTAMP}, #{imageMode,jdbcType=VARCHAR}, #{imageDuration,jdbcType=INTEGER},
      #{isMultiGrid,jdbcType=INTEGER}, #{requirementUser,jdbcType=VARCHAR}, #{cloudPercent,jdbcType=NUMERIC}, 
      #{resolution,jdbcType=NUMERIC}, #{rollSatelliteAngle,jdbcType=NUMERIC}, #{deliveryMethod,jdbcType=INTEGER}, 
      #{deliveryTime,jdbcType=NUMERIC}, #{dataFormat,jdbcType=INTEGER}, #{dataLevel,jdbcType=INTEGER},
      #{spectralRequirement,jdbcType=INTEGER}, #{geometryRequirement,jdbcType=INTEGER}, 
      #{radiationRequirement,jdbcType=INTEGER})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select requirement_id, is_sensitive, requirement_name, requirement_status, priority, 
    requirement_type, image_geometry, imaging_frequency_request, imaging_times, imaging_internal, 
    submitter_id, requirement_start_time, requirement_end_time, image_mode, image_duration, 
    is_multi_grid, requirement_user, cloud_percent, resolution, roll_satellite_angle, 
    delivery_method, delivery_time, data_format, data_level, spectral_requirement, geometry_requirement, 
    radiation_requirement
    from urm_user_requirement
  </select>
</mapper>